{# JOURNAL NAVIGATION #}
{# Navigation to other graphite content sliding in from top #}
{# Default is overwritten by details in meta.yaml, no_journal setting deavtivates journal navigation #}

{% if not meta.no_journal or meta.no_journal is false %}

  <div id="navContent" style="display: none;">
    <div class="container">
      <div class="row">

        <div class="col-md-6">

          {% if meta.imprint %}
            <div class="ms-nav-info">
              {{ meta.imprint_md | safe }}
            </div>
          {% else %}
            <p class="ms-nav-info">
              {{ lang.get('default_imprint', 'This publication was built with the framework Graphite based on python\'s graphite-paper. The framework enables users to create publications for a digital environment.') }}
            </p>
          {% endif %}
        </div>

        <div class="col-md-3">
          <div class="ms-nav-info">
            <h3 class="ms-nav-section">{{ lang.get('header_articles', 'Further publications') }}</h3>

            {% if meta.further_publications %}
              <ul class="ms-nav-subnav">
                {% for p in meta.further_publications %}
                  <li>
                    <a href={{ p.url }} target="_blank">{{ p.label }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <ul class="ms-nav-subnav">
                <li>
                  <a href="{{ lang.get('default_publication_1_url', 'https://www.impactdistillery.com/graphite/lrnlab-agile-en/') }}" target="_blank">{{ lang.get('default_publication_1_label', 'Agility. A whitepaper by LRN LAB') }}</a>
                </li>
                <li>
                  <a href="{{ lang.get('default_publication_2_url', 'https://graphite.page/policy-brief-values/') }}" target="_blank">{{ lang.get('default_publication_2_label', 'Freedom of Expression in the Digital Public Sphere') }}</a>
                </li>
                <li>
                  <a href="{{ lang.get('default_publication_3_url', 'https://preview.graphite.page/fair-targeted-ads/') }}" target="_blank">{{ lang.get('default_publication_3_label', 'Increasing fairness in targeted advertising') }}</a>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>

        <div class="col-md-3">
          <div class="ms-nav-info">
            <h3 class="ms-nav-section">{{ lang.get('header_more', 'More information') }}</h3>

            {% if meta.further_links %}
              <ul class="ms-nav-subnav">
                {% for l in meta.further_links %}
                  <li>
                    <a href={{ l.url }} target="_blank">{{ l.label }}</a>
                  </li>
                {% endfor %}
              </ul>

            {% else %}
              <ul class="ms-nav-subnav">
                <li>
                  <a href="{{ lang.get('default_link_1_url', 'https://www.impactdistillery.com/graphite') }}" target="_blank">{{ lang.get('default_link_1_label', 'Graphite project website') }}</a>
                </li>
                <li>
                  <a href="{{ lang.get('default_link_2_url', 'https://pypi.org/project/graphite-paper') }}" target="_blank">{{ lang.get('default_link_2_label', 'graphite-paper on PyPI') }}</a>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>

{% endif %}



<!-- Navigation bar fixed to top -->
<nav class="ms-navigation-top">
  <div class="container">
    <span class="ms-article-title">
      {{ meta.title }}
    </span>

    <a class="ms-brand" href="{{ meta.brand_url }}" target="_blank" rel="noreferrer noopener">
      {{ lang.get('powered_by', 'Powered by') }} <object data="theme/images/graphite.svg" type="image/svg+xml"></object>
    </a>

    {% if not meta.no_journal or meta.no_journal is false %}

      <span id="navToggle" class="navbar-toggler-icon"></span>

    {% endif %}

  </div>
</nav>



